.filmCard {
  display: flex;
  height: 200px;
  box-shadow: var(--box-shadow);
}

.filmPage {
  height: 400px;
}

.filmPoster {
  min-width: 200px;
  height: 100%;
}

.filmName {
  color: var(--color-main);
}

.filmCardHeader {
  display: flex;
  justify-content: space-between;
}

.filmInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding: 20px;
}

.filmPoster {
  min-width: 200px;
  height: 100%;
}

.filmGenres {
  white-space: pre;
}

.filmDescr {
  white-space: wrap;
  overflow: scroll;
}

.filmYear {
  margin-bottom: auto;
}

.filmPage .filmYear {
  margin-bottom: 0;
}

.moreLink {
  color: var(--color-link);
}

.favButton {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.favouriteIcon {
  fill: var(--color-secondary);
  stroke: var(--color-accent);
  transition: fill 0.3s ease-in-out;
}

.favouriteIcon:hover {
  fill: var(--color-accent);
}

.favButton_active .favouriteIcon {
  fill: var(--color-accent);
}
