.filmPage {
  height: 1000px;
}

.filmInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.filmCard {
  display: flex;
  height: 300px;
  box-shadow: var(--box-shadow);
}

.filmPoster {
  min-width: 200px;
  height: 100%;
}

.filmGenres {
  white-space: pre;
}

.filmDescr {
  white-space: wrap;
  overflow: scroll;
}
